<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href="style.css">
</head>
<body>
    <header><h1>Welcome to the fan site of Lewis Hamilton</h1> 
        <div class="head"></div>
    </header>
    <link rel="js" href="app.js">
    <h2>Lewis is one of the greatest F1 racers of all time, and for many the G.O.A.T </h2>
    <article class="button">
        <span>
        <form action="/about" method="get" target="_blank">
        <button class="button1"  ><img  src="/3102.webp" alt="About">About </button>
    <form action="/Works" method="get" target="_blank">
        <button class="button2"><img  src="/transferir.jpg" alt="Works">Works</button>
    <form action="/Photo Gallery" method="get" target="_blank">
        <button class="button3"><img  src="/Lewis-Hamilton-2020-scaled.jpg" alt="Photo Gallery">Photo Gallery</button>
    </span>
    </article>
    
   
</body>
</html>